<!DOCTYPE html>
<html>
<head>
    <title>{{ app_name }}</title>
</head>
<body>
    <h1>{{ app_name }}</h1>
    <p>Environment: {{ environment }}</p>
    <p>Server: {{ ansible_hostname }}</p>
    <p>Managed using Ansible on AWS EC2.</p>
</body>
</html>
